@import '../../../common.scss';

.process {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid $theme-border;
    border-radius: 4px;
    padding: 8px 16px;
    color: lighten($theme-label, 8%);
    background: transparentize(#fff, .5);
    cursor: pointer;
    transition: box-shadow $theme-transition-duration ease-in-out,
    width $theme-transition-duration ease-in-out,
    transform $theme-transition-duration ease-in-out;

    .process-name {
        height: 70px;
        line-height: 32px;
        font-size: 16px;
    }

    .process-monit {
        @include float-fix;
        height: 32px;
        line-height: 32px;
        font-size: 12px;

        .process-monit-cpu,
        .process-monit-memory {
            position: relative;
            float: left;
            width: 50%;
        }
    }

    &.activated {
        border-color: $theme-highlight;
        background: #fff;

        .process-name {
            color: $theme-highlight;
        }
    }

    &:hover {
        @include shadow(4);
    }
}
