@import '../../../common.scss';

.process {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid $theme-border;
    border-radius: 4px;
    color: lighten($theme-label, 8%);
    background: #fafbfb;
    overflow: hidden;
    cursor: pointer;
    transition-property: width, box-shadow, opacity, transform;
    transition-duration: $theme-transition-duration;
    transition-timing-function: ease-in-out;

    .process-name {
        box-sizing: border-box;
        height: 53px;
        line-height: 32px;
        font-size: 16px;
        padding: 8px 16px;
    }

    .process-monit {
        @include float-fix;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
        padding: 0 16px;

        .process-monit-cpu,
        .process-monit-memory {
            position: relative;
            float: left;
            width: 50%;
        }
    }

    .process-actions {
        @include float-fix;
        height: 32px;
        line-height: 32px;
        border-top: 1px solid $theme-border;

        .process-action {
            float: left;
            width: 33.333333%;
            height: 32px;
            border-radius: 0;
            color: $theme-label;
            padding: 0;

            .button-icon {
                margin: 0;
            }

            &:hover .button-icon {
                color: $theme-highlight;
            }
        }
    }

    &.init {
        opacity: 0;
    }

    &.activated {
        border-color: $theme-highlight;
        background: #fff;

        .process-name {
            color: $theme-highlight;
        }
    }

    &:hover {
        box-shadow: transparentize($theme-shadow, .9) 0px 19px 60px,
        transparentize($theme-shadow, .98) 0px 15px 20px;
    }
}
