@import '../../../common.scss';

.processes {
    padding-right: 24px;

    .processes-title {
        line-height: 32px;
        margin: 32px 0;
    }

    .process-wrapper {
        position: relative;
    }
}
