@import '../../../common.scss';

.processes {
    padding: 0 24px;

    .processes-title {
        line-height: 32px;
        margin: 0 0 32px;
        font-weight: 400;
    }

    .process-wrapper {
        position: relative;
    }
}
