@import '~alcedo-ui/Theme/default.scss';

$theme-color-transition-percent: 8%;

$theme-field: #333;
$theme-nav: #fff;
$theme-border: #e7e7e7;
$theme-label: #999;
$theme-field-error: #d81919;

$theme-dark-grey: #f4f4f4;
$theme-light-grey: #fafafa;

$theme-info: #2db7f5;
$theme-success: #87d068;
$theme-warning: #fa0;
$theme-error: #f50;
$theme-success-bg: #f3faf0;
$theme-success-border: #def4d5;
$theme-error-bg: #ffeee6;
$theme-error-border: #fad3c0;
$theme-info-bg: #eaf8fe;
$theme-info-border: #c6ebfb;
$theme-warning-bg: #fff7e6;
$theme-warning-border: #f7dfad;

// z-index
$toast-z-index: 99;
$dialog-z-index: 95;
$menu-z-index: 94;
$nav-z-index: 93;

// size
$minWidth: 320px;
$appMenuPortableWidth: .8;

@mixin invisible {
    position: absolute;
    font: inherit;
    background: transparent;
    z-index: -1;
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    resize: none;
    outline: none;
    overflow: hidden;
    padding: 0;
    width: 0;
    height: 0;
    cursor: none;
    pointer-events: none;
    white-space: nowrap;
}

@mixin float-fix {
    &::before, &::after {
        display: table;
        content: "";
    }
    &::after {
        clear: both;
    }
}
