@import '../../../../common.scss';

.paper.dialog.add-patient-dialog {
    width: 640px;

    .dialog-title {
        height: auto;
    }

    .dialog-content {
        height: auto;
        padding: 36px 48px;

        .field-set {
            margin: 0;
            border: none;
        }

        .material-text-field,
        .material-dropdown-select {
            margin-bottom: 24px;
        }
    }
}