@import '../../../../common.scss';

.application-form {

    .form-field-wrapper {
        .form-field-error {
            height: 36px;
            color: $theme-error;
            padding: 0 8px;
            line-height: 24px;
        }
    }

    .create-form-advance {

        .accordion-title {
            display: block;
            width: auto;
            padding: 0 24px;
            font-size: 20px;
            margin: 0 auto;
            border-radius: $theme-border-radius;
            border: none;

            .button-icon {
                float: none;
                display: inline-block;
                margin: 0 0 0 8px;
            }

            &:hover {
                background: $theme-bg;
            }
        }

        .accordion-content {
            padding: 0;

            .create-form-advance-content {
                padding: 24px 0 0;
            }
        }
    }
}
