@import '../../../../common.scss';

.application-form {

    .form-field-wrapper {

        .form-field {
            width: 100%;
            border: none;
            background: transparent;

            .material-provider-label {
                opacity: .66;
                transition: opacity $theme-transition-duration ease-in-out;
            }

            .text-field,
            .text-area {

                .text-field-input,
                .text-field-placeholder,
                .text-area-input {
                    width: 100%;
                    height: 100%;
                }
            }

            .material-field-separator-hover {
                display: none;
            }
            .material-field-separator-focus {
                background: $theme-highlight;
            }

            &.material-text-area {
                min-height: 72px;

                .text-area .text-area-input {
                    height: 48px;
                }
            }

            &.focused {
                .material-provider-label {
                    opacity: 1;
                }
            }

            &.error {
                .material-provider-label {
                    color: $theme-error;
                    opacity: 1;
                }

                .material-provider-field {
                    border-bottom-color: $theme-error;
                }

                .material-field-separator-focus {
                    background-color: $theme-error;
                }
            }
        }

        .form-field-error {
            height: 36px;
            color: $theme-error;
            padding: 0 8px;
            line-height: 24px;
        }
    }

    .create-form-advance {

        .accordion-title {
            display: block;
            width: auto;
            padding: 0 24px;
            font-size: 20px;
            margin: 0 auto;
            border-radius: $theme-border-radius;
            border: none;

            .button-icon {
                float: none;
                display: inline-block;
                margin: 0 0 0 8px;
            }

            &:hover {
                background: $theme-bg;
            }
        }

        .accordion-content {
            padding: 0;

            .create-form-advance-content {
                padding: 24px 0 0;
            }
        }
    }
}
