@import '../common.scss';

.circular-chart {

    .highcharts-title {
        font-size: 16px !important;
        color: $theme-description !important;
    }

    .circular-chart-value {
        text-align: center;
        font-size: 32px;
        color: $theme-field;
        margin-top: -20px;

        .circular-chart-total {
            font-size: 14px;
            color: $theme-description;
        }
    }

    .circular-chart-title {
        text-align: center;
        font-size: 14px;
        color: $theme-description;
    }

}