@import '../common.scss';

@mixin msg-theme($bg-color, $border-color, $icon-color) {
    background-color: $bg-color;
    border-color: $border-color;

    .msg-icon {
        color: $icon-color;
    }
}

.msg {
    position: relative;
    border-radius: $theme-border-radius;
    border-width: 1px;
    border-style: solid;
    padding: 8px 12px 8px 0;
    width: auto;
    max-width: 600px;
    display: table;

    .msg-icon {
        display: table-cell;
        width: 40px;
        text-align: center;

        .icon {
            font-size: 16px;
        }
    }

    .msg-text {
        display: table-cell;
        width: auto;

        p {
            margin: 0;
        }
    }

    &.theme-info {
        @include msg-theme(#edf9ff, #cdedfc, $theme-info);
    }
    &.theme-success {
        @include msg-theme(#f5fbf2, #e3f6db, $theme-success);
    }
    &.theme-warning {
        @include msg-theme(#fff8e9, #f9e3b6, $theme-warning);
    }
    &.theme-error {
        @include msg-theme(#fff0e9, #fcd9c7, $theme-error);
    }
}
