@import '../common.scss';

.solid-gauge-chart {

    .solid-gauge-chart-value {
        text-align: center;
        font-size: 32px;
        color: $theme-field;
        margin-top: -25px;

        .solid-gauge-chart-total {
            font-size: 14px;
            color: $theme-description;
        }
    }

    .solid-gauge-chart-title {
        text-align: center;
        font-size: 14px;
        color: $theme-description;
    }

}