@import '../../../../../common.scss';

.analgesia-data {

    .append-time-point-button {
        display: block;
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 8px 16px;
        color: $theme-description;

        .down-icon {
            display: block;
            margin: 0 auto;
        }

        &:hover {
            color: $theme-highlight;
        }
    }
}