@import '../../../../../common.scss';

.analgesia-data-table-scroller {
    overflow-x: auto;

    .analgesia-data-table {

        .material-provider-label-wrapper {
            display: none;
        }

        .table-row {
            border: none !important;
        }

        .material-text-field,
        .material-dropdown-select {
            width: 72px;
        }

        .material-dropdown-select {
            display: inline-block;
        }

        label {
            color: $theme-description;
        }
    }
}