@import '../../../../../common.scss';

.application-setting {
    @include float-fix;
    padding-right: 72px;

    .application-setting-remove {
        margin-top: 32px;
    }

    .title {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .warning-block,
    .danger-block {
        @include float-fix;
        padding: 16px;
        border-width: 1px;
        border-style: solid;
        border-radius: $theme-border-radius;
    }

    .warning-block {
        border-color: $theme-warning;
    }

    .danger-block {
        border-color: $theme-error;
    }

    .label {
        font-size: 12px;
        margin-bottom: 16px;
        line-height: 16px;

        & > span {
            color: $theme-highlight;
        }
    }

    .paper-info {
        margin-bottom: 0;
    }

    .rename-button {
        width: auto;
        font-size: 16px;
        float: right;
        margin-top: 16px;
    }

}
