@import '../../../../common.scss';

.patient {
    position: relative;

    .patient-stepper {
        margin-bottom: 56px;
    }

    .patient-base-info {
        padding-bottom: 16px;
        border-bottom: 1px solid $theme-border;

        .patient-name {
            margin: 0;
        }

        .patient-desc {
            opacity: .5;
        }
    }

    .patient-content {
        overflow: hidden;

        .patient-content-title {
            margin-bottom: 64px;
        }
    }
}