@import '../../../../../common';

.create-button-wrapper {
    position: relative;
    width: 56px;
    height: 56px;

    .create-button-bg {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $theme-highlight;
        cursor: pointer;
        animation-duration: $theme-transition-duration*3;
        animation-name: bounceIn;
    }

    .create-button {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 40px;
        color: #fff !important;
        transition: transform $theme-transition-duration ease-in-out;
        z-index: 1;
    }

    &.avtivated {

        .create-button-bg {
            cursor: default;
            transform: scale3d(100, 100, 100);
            transition: transform $theme-transition-duration*2 ease-in;
            animation: none;
        }

        .create-button {
            transform: rotate(225deg);
            transition: transform $theme-transition-duration ease-in-out;
        }
    }

}

@keyframes bounceIn {
    from,
    40%,
    60%,
    70%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        transform: scale3d(100, 100, 100);
    }

    40% {
        transform: scale3d(0.8, 0.8, 0.8);
    }

    60% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    80% {
        transform: scale3d(0.95, 0.95, 0.95);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
