@import '../../../../common.scss';

.patient-list-table {

    .id-link {
        color: $theme-field;
        text-decoration: none !important;

        &:hover {
            color: $theme-highlight;
            text-decoration: underline !important;
        }
    }

    .name-field {
        width: 100%;

        .text-field-input {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .group-select {
        width: 100%;

        .dropdown-trigger {
            padding-left: 0;
        }
    }
}

.no-patient-found {
    margin-top: 80px;
    font-size: 24px;
    text-align: center;
    color: $theme-description;
}