@import '../../../../common.scss';

.nav {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 120px;
    height: 100vh;
    padding: 96px 32px 32px;
    z-index: $nav-z-index;

    .nav-button {
        color: $theme-label;
        font-size: 16px;
        margin: 8px;

        &:hover {
            color: $theme-highlight;
        }
    }
}
