@import '../../../../common.scss';

.create-button-wrapper {
    position: relative;
    width: 56px;
    height: 56px;

    .create-button-bg {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $theme-highlight;
        cursor: pointer;
        transition: all $theme-transition-duration ease-in;
    }

    &.avtivated {

        .create-button-bg {
            transform: scale(100);
            cursor: default;
        }
    }

}