@import '../../../../common.scss';

.create-button {
    position: relative;
    background: $theme-highlight;
    border-radius: 50%;
    cursor: pointer;
    transition: transform $theme-transition-duration ease-in;

    &.avtivated {

    }
}