@import '../../../../../common.scss';

.refresh {

    .refresh-progress,
    .refresh-loading {
        opacity: 0;
        transition: opacity $theme-transition-duration ease-in-out;

        &.activated {
            opacity: 1;
        }
    }

}
