@import '../../../../../common.scss';

.refresh {
    margin: 12px;
    cursor: pointer;

    .refresh-progress {
        opacity: 0;
        transition: opacity $theme-transition-duration ease-in-out;

        &.activated {
            opacity: 1;
        }
    }

    .refresh-progress-text {
        color: $theme-label;
    }
}
