@import '../../../../common.scss';

.application-setting {
    @include float-fix;
    padding-right: 72px;

    .title {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .label {
        color: $theme-label;
        font-size: 12px;
        margin-bottom: 16px;
        line-height: 16px;

        & > span {
            color: $theme-warning;
        }
    }

    .rename-button {
        width: auto;
        font-size: 16px;
        float: right;
        margin-top: 16px;
    }

}
