@import '../../../../common.scss';

.application-config {
    @include float-fix;

    .application-form {
        padding-right: 72px;
    }

    .action {
        float: right;
        display: inline-block;

        .restart-tip {
            color: $theme-warning;
            margin-right: 16px;

            .restart-anchor {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .update-button {
            margin-right: 72px;
            font-size: 18px;
        }
    }
}
