@import '../../../../common.scss';

.application-setting {
    @include float-fix;
    padding-right: 72px;

    .label {
        color: $theme-label;
        font-size: 12px;
        padding: 16px 0;
        line-height: 16px;

        & > span {
            color: $theme-highlight;
        }
    }

    .rename-button {
        width: auto;
        font-size: 16px;
    }

}
