@import '../../../../common.scss';

.application-config {

    .application-form {
        padding-right: 72px;
    }

    .update-button {
        float: right;
        margin-right: 72px;
        font-size: 18px;
    }
}
