@import '../../../../common.scss';

.process {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid $theme-border;
    border-radius: 4px;
    color: lighten($theme-label, 8%);
    background: #fafbfb;
    overflow: hidden;
    cursor: pointer;
    transition-property: width, box-shadow, opacity, transform;
    transition-duration: $theme-transition-duration;
    transition-timing-function: ease-in-out;

    .process-header {
        @include float-fix;
        height: 32px;
        padding: 8px 16px 0;

        .process-name {
            float: left;
            line-height: 32px;
            font-size: 18px;
            color: $theme-field;
        }

        .process-status {
            float: right;
            height: 24px;
            line-height: 24px;
            margin: 4px 0;
            padding: 0 16px;
            border-radius: 12px;
        }
    }

    .process-desc {
        height: 35px;
        line-height: 16px;
        padding: 0 24px;
        margin: 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .process-monit {
        @include float-fix;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
        padding: 0 16px;

        .process-monit-cpu,
        .process-monit-memory {
            position: relative;
            float: left;
            width: 50%;
        }
    }

    &.init {
        opacity: 0;
    }

    &.activated {
        .process-status {
            color: #fff;
            background: $theme-success;
        }
    }

    &.paused {
        .process-status {
            color: #fff;
            background: $theme-warning;
        }
    }

    &.errored {
        .process-status {
            color: #fff;
            background: $theme-error;
        }
    }

    &.stopped {
        .process-status {
            color: #fff;
            background: $theme-border;
        }
    }

    &:hover {
        box-shadow: transparentize($theme-shadow, .9) 0px 19px 60px,
        transparentize($theme-shadow, .98) 0px 15px 20px;
    }
}
