@import '../../../../common.scss';

.process {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid $theme-border;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition-property: width, box-shadow, opacity, transform;
    transition-duration: $theme-transition-duration;
    transition-timing-function: ease-in-out;

    &.activated {
        .process-status {
            color: #fff;
            background: $theme-success;
        }
    }

    &.paused {
        .process-status {
            color: #fff;
            background: $theme-warning;
        }
    }

    &.errored {
        .process-status {
            color: #fff;
            background: $theme-error;
        }
    }

    &.stopped {
        .process-status {
            color: #fff;
            background: $theme-border;
        }
    }

    &:hover {
        box-shadow: transparentize($theme-shadow, .9) 0px 19px 60px,
        transparentize($theme-shadow, .98) 0px 15px 20px;
    }
}
