@import '../common.scss';

.dropdown-select-popup {
    border: 1px solid $theme-border !important;
    border-radius: $theme-border-radius !important;
    margin-top: 2px !important;

    &.above {
        margin-top: -2px !important;
    }
}