@import '../common.scss';

.portal {
    .notifier {
        top: 10px !important;

        .notification {
            width: 320px;
            height: auto;
            color: $theme-field;
            background: #fff;
            border: 1px solid $theme-border;
            box-shadow: rgba(0, 0, 0, .16) 0 2px 4px !important;

            .notification-icon {
                line-height: 36px;
                font-size: 14px !important;

                &.info {
                    color: $theme-info;
                }
                &.warning {
                    color: $theme-warning;
                }
            }

            .notification-close-Button {
                color: #05789c;
                font-size: 12px !important;
            }

            &.theme-info {
                border-left: 4px solid $theme-info;
            }

            &.theme-info:hover {
                border-left: 4px solid $theme-info;
            }

            &.theme-warning {
                border-left: 4px solid $theme-warning;
            }

            &.theme-warning:hover {
                border-left: 4px solid $theme-warning;
            }
        }

    }
}
