@import '../common.scss';

.table {
    border: none !important;

    .thead {
        tr {
            border-bottom: 2px solid $theme-border;

            .table-header {
                border: none !important;

                .table-header-inner {
                    padding: 0 8px !important;
                    color: $theme-description !important;
                    font-weight: 700 !important;

                    .table-header-sort-icon-wrapper {
                        top: 0;
                    }
                }
            }
        }
    }

    .table-row {
        td {
            padding: 8px;
        }
    }
}