@import '../common.scss';

.tip {

    .trigger-pop-triangle-wrapper {
        display: none;
    }

    .tip-content {
        font-size: 12px;
        padding: 4px !important;
        color: #fff;
        background: transparentize(#000, .2) !important;
    }
}