@import '../../../../common.scss';

.application-overview {
    padding-right: 72px;

    .overview-item {
        .overview-item-title {
            line-height: 64px;
            font-size: 16px;
        }
    }
}
