@import '../../../../common.scss';

.application-detail {
    position: relative;
    width: 480px;
    padding: 32px 0 32px 72px;
    background: $theme-field-bg;
    border: 1px solid $theme-border;

    .application-detail-title {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 32px;
    }

    .tab.application-detail-tab {

        .tabs .tab-button {
            background: transparent;
            font-size: 20px;
            padding: 0 16px;
            color: $theme-label;
            margin: 0;

            &:first-child {
                padding-left: 0;
            }

            &.activated {
                color: $theme-field;
            }
        }

        .tab-content {
            padding: 24px 0;
        }

        .application-form {
            padding-right: 72px;
        }
    }

    .back-icon {
        position: absolute;
        left: 20px;
        top: 32px;
        width: 32px;
        height: 32px;
        font-size: 20px;
    }
}
