@import '../../../../../common.scss';

.patient-form {

    .material-text-field,
    .material-dropdown-select {
        margin-bottom: 48px;
    }

    .gestational-days {
        &::before {
            content: "+";
            position: absolute;
            left: -15px;
            bottom: 0;
            display: block;
            width: 30px;
            height: 30px;
            text-align: center;
            color: $theme-description;
        }
    }

    .msg {
        margin-left: 15px;
        margin-right: 15px;
    }
}