@import '../../../../../common.scss';

.application-info {
    background: #fafcfd;

    .application-header {
        @include float-fix;
        height: 32px;
        padding: 8px 16px 0;

        .application-name {
            float: left;
            line-height: 32px;
            font-size: 18px;
            color: $theme-field;
        }

        .application-status {
            float: right;
            height: 24px;
            line-height: 24px;
            margin: 4px 0;
            padding: 0 16px;
            border-radius: 12px;
        }
    }

    .application-desc {
        height: 37px;
        line-height: 24px;
        padding: 0 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $theme-label;
    }
}
