@import '../../../../../common.scss';

.application {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background: $theme-field-bg;
    border: 1px solid $theme-border;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition-property: width, box-shadow, opacity, transform;
    transition-duration: $theme-transition-duration;
    transition-timing-function: ease-in-out;

    &:hover {
        box-shadow: transparentize($theme-shadow, .9) 0px 19px 60px,
        transparentize($theme-shadow, .98) 0px 15px 20px;
    }
}
