@import '../../../../../common.scss';

.application-monit {
    @include float-fix;
    position: relative;
    height: 64px;
    font-size: 12px;
    padding: 8px 0;
    color: $theme-label;
    background: $theme-field-bg;

    .application-monit-cpu,
    .application-monit-memory {
        position: relative;
        float: left;
        width: 50%;

        .application-monit-title {
            text-align: center;
            line-height: 24px;
        }

        .application-monit-value {
            position: relative;
            text-align: center;
            font-size: 24px;
            height: 40px;
            line-height: 40px;

            .application-monit-unit {
                position: absolute;
                font-size: 12px;
                line-height: 32px;
                margin-left: 8px;
                color: $theme-label;
            }
        }
    }

    .application-monit-cpu {
        position: relative;

        .application-monit-value.activated {
            color: $theme-info;
        }

        &::after {
            content: "";
            position: absolute;
            top: 25%;
            right: 0;
            display: block;
            width: 1px;
            height: 64%;
            background: $theme-border;
        }
    }

    .application-monit-memory .application-monit-value.activated {
        color: $theme-purple;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $theme-border;
    }
}
