@import '../../../../../common.scss';

.application-card {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background: $theme-field-bg;
    border: 1px solid $theme-border;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: width $theme-transition-duration ease-in-out,
    box-shadow $theme-transition-duration ease-in-out,
    transform $theme-transition-duration ease-in-out,
    opacity $theme-transition-duration ease-in-out $theme-transition-duration;

    .application-ctrls {
        border-top: 1px solid $theme-border;

        .application-ctrl {
            border-radius: 0 !important;
        }
    }

    &.visible {
        opacity: 1;
    }

    &:hover {
        box-shadow: transparentize($theme-shadow, .9) 0px 19px 60px,
        transparentize($theme-shadow, .98) 0px 15px 20px;
    }
}
